<form (submit)="onLogin(loginForm)" #loginForm="ngForm" class="login-form">
    <div class="form-control">
        <label for="email">E-mail</label>
        <input
            type="email"
            name="email"
            ngModel
            id="email"
            #emailInput="ngModel"
            required
            email
        >
        <span *ngIf="!emailInput.valid && emailInput.touched">Please enter a valid email!</span>

    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input 
            type="password"
            name="password"
            id="password"
            ngModel
            #passwordInput="ngModel"
            required
            >
        
    </div>
    <button [disabled]="!loginForm.valid" class="btn" type="submit">Login</button>
    <p>Wachtwoord vergeten? <a routerLink="/reset">Vraag nieuw wachtwoord aan</a></p>
    <p *ngIf="!newUser">Nog geen account? Maak <a routerLink="/signup">hier</a> uw account</p>
</form>
