/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


body {
    position: relative;
    height: 100vh;

}

/* nav  */
/* background-color: hsl(213, 91%, 54%); */

/* hover */
/* background-color: hsl(213, 91%, 64%); */

/* active */
/* background-color: hsl(213, 91%, 44%); */

/* border  */
/* border: 1px solid hsl(0, 0%, 60%); */


/* on succes */
/* background-color: hsl(101, 78%, 40%); */


/* on succes hover */
/* background-color: hsl(101, 78%, 45%); */

