nav {
    display: flex;
    background-color: hsl(213, 91%, 54%);
    height: 4rem;
    border-bottom: 1px solid black;
}

.wrap-container {
    width: 60%;
    margin: 0 auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.flex-container, .container {
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.li {
    display: flex;
    height: 100%;
    align-items: center;
}


a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0 1.5rem;
}

.flex-container li:hover,
.container li:hover {
    cursor: pointer;  
    background-color: hsl(213, 91%, 64%);

}
.dropdown-menu {
    display: none;
}

.expand {
    position: relative;
}

.expand:hover ul {
    display: block;
    position: absolute;
    left: 0;
    background-color: hsl(213, 91%, 54%);
    color: white;
    width: 100%;
    z-index: 1;    
}

.dropdown-menu-li {
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    list-style: none;
}


.active {
    background-color: hsl(213, 91%, 44%);
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    nav {
        position:sticky;
        top:0;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .wrap-container {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    .flex-container, .container {
        flex-direction: column;

    }

    .li {
        flex-direction: column;
        text-decoration: none;
        padding: 1.5rem 0;
    }

    .dropdown-menu {
        display: none;
    }

    .expand:hover ul {
        display: none;
    }

    .searchbar {
        display:none;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    nav {
        flex-direction: column;
        height: 100%;
        width:100%;
    }
    
    .wrap-container {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    .flex-container, .container {
        flex-direction: column;

    }

    .li {
        flex-direction: column;
        text-decoration: none;
        padding: 1rem 0;
    }

    .dropdown-menu {
        display: none;
    }

    .expand:hover ul {
        display: none;
    }

}


