.container {
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    background-color: lightcoral;
    /* height: 100%; */
}





@media (max-width: 800px) {
    .container {
        padding: 0;
        height: 100%;
    }
}