.container {
    width:100%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    /* background-color: brown; */
}

.pagination-container {
    text-align: center;
    color: black;
    padding: 2rem;
}

.my-pagination {
    font-size: larger;
    color: red;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}



