<div class="transparent" (click)="onBack()">
    <div class="container">
        <article class="shop-item">
            <header class="item-header">
                <h3>{{ product.name }}</h3>
            </header>
            <div class="item-image">
                <img [src]="product.imagePath" alt="">
            </div>
            <div class="item-content">
                <h2 class="item-price">€{{ product.price }}</h2>
                <p class="item-description">{{ product.description }}</p>
            </div>
            <div class="item-action">
                <button class="btn" (click)="onBack()">Terug</button>
            </div>
        </article>
    </div>
</div>
