form {
    display: flex;
    gap: .5rem;
}

input {
    padding: .5rem .5rem;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 60%);
}

input:focus {
    outline: none;
}
button {
    padding: 0 1.25rem;
    border:none;
    border-radius: 3px;
    background-color: white;
}

button:hover {
    cursor: pointer;
    background-color: hsl(213, 91%, 74%);
    color: white;
}