<div class="container">
    <h1>Selecteer een categorie</h1>
    <ul>
        <li [routerLink]="'/products'" class="card">
            <div class="img-container">
                <img class="img" src="https://image.coolblue.nl/transparent/max/310x275/content/518557" alt="">
            </div>
            <div class="card-title">
                <h3>Computer & tablets</h3>
            </div>

        </li>
        <li [routerLink]="'/products'" class="card">
            <div class="img-container">
                <img class="img" src="https://image.coolblue.nl/transparent/max/310x275/content/518564" alt="">
            </div>
            <div class="card-title">
                <h3>Beeld & geluid</h3>
            </div>
        </li>
        <li [routerLink]="'/products'" class="card">
            <div class="img-container">
                <img class="img" src="https://image.coolblue.nl/transparent/max/310x275/content/518559" alt="">
            </div>
            <div class="card-title">
                <h3>Telefonie</h3>
            </div>
        </li>
        <li [routerLink]="'/products'" class="card">
            <div class="img-container">
                <img class="img" src="https://image.coolblue.nl/transparent/max/310x275/content/518565" alt="">
            </div>
            <div class="card-title">
                <h3>Huishouden & wonen</h3>
            </div>
        </li>
    </ul>

</div>
