.login-form {
    width: 40%;
    margin: 0 auto;
    padding: 3rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    padding-bottom: .5rem;
}

.form-control label, 
.form-control input,
.form-control select {
    padding: .25rem 0;
}

.form-control input,
.form-control textarea,
.form-control select {
    outline: none;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 60%);
}

.form-control textarea {
    outline: none;
}

.form-control input:focus,
.form-control textarea:focus {
    border-color: hsl(213, 91%, 54%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn {
    border:none;
    border: 1px solid hsl(101, 78%, 40%);
    background-color: hsl(101, 78%, 40%);    
    color: white;
    width: 7rem;
    height: 100%;
    padding: .5rem 0;
    border-radius: 3px;
    cursor: pointer;
}

.btn[type=submit]:disabled {
    pointer-events: none;
    border:hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 80%);   
}

.btn:hover {
    border-color: black;
    background-color: hsl(101, 78%, 45%);    
}

.image-preview {
    overflow:hidden;
    width: 100%;
    height: 30rem;
}

.img {
    height: 100%;
    width: 100%;
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .image-preview {
        height:80%;
        width:80%;
    }
    .login-form {
        width: 80%;
        padding: 1rem;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}
