<form (submit)="onReset(resetForm)" #resetForm="ngForm" class="login-form">
    <div class="form-control">
        <span *ngIf="!emailInput.valid && emailInput.touched">Please enter a valid email!</span>
        <label for="email">E-mail</label>
        <input
            type="email"
            name="email"
            ngModel
            #emailInput="ngModel"
            required
            email
            id="email"
        >
    </div>
    <button [disabled]="!resetForm.valid" class="btn" type="submit">Reset</button>
</form>
