.main {
    margin: 0 auto;
    height: 100%;
    width: 60%;
    background-color: hsl(0, 0%, 98%);
}

@media (max-width: 800px) {
    main {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
}