.main {
    margin: 0 auto;
    height: 100%;
    width: 60%;
    background-color: hsl(0, 0%, 98%);
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    .main {
        background-color: hsl(0, 0%, 98%);
        width: 60%;
        height: 100%;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .main {
        padding:0;
        margin:0;
        background-color:white;
        width: 100%;
        height: 100%;
    }

    app-footer {
        display:none;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .main {
        padding:0;
        margin:0;
        background-color:white;
        width: 100%;
        height: 100%;
    }
    app-footer {
        display:none;
    }
}