header {
    position: sticky;
    left: 0;
    top: 0; 
    width: 100%;
    z-index: 999;
}




/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    app-nav-shop {
        display:none;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    app-nav-shop {
        display:none;
    }
}