<nav>
    <ul>
        <li class="container">
            <a  [routerLink]="'/products'">Computers & tablets</a>
            <div class="dropdown-content">
                <div class="nav-items">
                    <section class="nav-item-container">
                        <h3><a [routerLink]="'/products'">Laptops, desktops & monitoren</a></h3>
                        <div class="nav-item">
                            <li><a>Laptops</a></li>
                            <li><a>Desktops</a></li>
                            <li><a>Monitoren</a></li>
                        </div>
                    </section>
                    <section class="nav-item-container">
                        <h3><a>Tablets & e-readers</a></h3>
                        <div class="nav-item">
                            <li><a>Tablets</a></li>
                            <li><a>E-readers</a></li>
                            <li><a>E-reader hoesjes</a></li>
                        </div>
                    </section>
                    <section class="nav-item-container">
                        <h3><a>Computer onderdelen</a></h3>
                        <div class="nav-item">
                            <li><a>Moederborden</a></li>
                            <li><a>Processoren</a></li>
                            <li><a>Videokaarten</a></li>
                        </div>
                    </section>
                </div>
            </div>
        </li>
        <li class="container">
            <a [routerLink]="'/products'" id="a">Beeld & geluid</a>
            <div class="dropdown-content">
                <div class="nav-items">
                    <section class="nav-item-container">
                        <h3><a>Assort2.1</a></h3>
                        <div class="nav-item">
                            <li><a>TEST1</a></li>
                            <li><a>TEST2</a></li>
                            <li><a>TEST3</a></li>
                        </div>
                    </section>
                    <section class="nav-item-container">
                        <h3><a>Assort2.2</a></h3>
                        <div class="nav-item">
                            <li><a>TEST1</a></li>
                            <li><a>TEST2</a></li>
                            <li><a>TEST3</a></li>
                        </div>
                    </section>
                    <section class="nav-item-container">
                        <h3><a>Assort2.3</a></h3>
                        <div class="nav-item">
                            <li><a>TEST1</a></li>
                            <li><a>TEST2</a></li>
                            <li><a>TEST3</a></li>
                        </div>
                    </section>
                </div>
            </div>
        </li>
        <li class="container">
            <a [routerLink]="'/products'" id="a">Telefonie</a>
            <div class="dropdown-content">
                <div class="nav-items">
                    <section class="nav-item-container">
                        <h3><a>Assort3.1</a></h3>
                        <div class="nav-item">
                            <li><a>TEST1</a></li>
                            <li><a>TEST2</a></li>
                            <li><a>TEST3</a></li>
                        </div>
                    </section>
                    <section class="nav-item-container">
                        <h3><a>Assort3.2</a></h3>
                        <div class="nav-item">
                            <li><a>TEST1</a></li>
                            <li><a>TEST2</a></li>
                            <li><a>TEST3</a></li>
                        </div>
                    </section>
                    <section class="nav-item-container">
                        <h3><a>Assort3.3</a></h3>
                        <div class="nav-item">
                            <li><a>TEST1</a></li>
                            <li><a>TEST2</a></li>
                            <li><a>TEST3</a></li>
                        </div>
                    </section>
                </div>
            </div>
        </li>
        <li class="container">
            <a [routerLink]="'/products'" id="a">Huishouden & wonen</a>
            <div class="dropdown-content">
                <div class="nav-items">
                    <section class="nav-item-container">
                        <h3><a>Assort4.1</a></h3>
                        <div class="nav-item">
                            <li><a>TEST1</a></li>
                            <li><a>TEST2</a></li>
                            <li><a>TEST3</a></li>
                        </div>
                    </section>
                    <section class="nav-item-container">
                        <h3><a>Assort4.2</a></h3>
                        <div class="nav-item">
                            <li><a>TEST1</a></li>
                            <li><a>TEST2</a></li>
                            <li><a>TEST3</a></li>
                        </div>
                    </section>
                    <section class="nav-item-container">
                        <h3><a>Assort4.3</a></h3>
                        <div class="nav-item">
                            <li><a>TEST1</a></li>
                            <li><a>TEST2</a></li>
                            <li><a>TEST3</a></li>
                        </div>
                    </section>
                </div>
            </div>
        </li>
    </ul>
</nav>
