* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: hsl(213, 91%, 94%);
    height: 20%;
    padding: 1rem 20rem;
    position: relative;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

li {
    list-style: none;
    list-style: none;
    text-decoration: none;
}

.container {
    display: inline-block;
    list-style: none;
    text-decoration: none;
}



.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    top: 3rem;
    width: 100%;
    height: 20vh;
    padding: 2rem;
    background-color: hsl(213, 91%, 94%);
    z-index: 1;
}

.container:hover .dropdown-content {
    display: block;
}


.nav-items {
    display: flex;
    justify-content:space-evenly;
    gap: 1rem;
    flex-direction: row;
    margin: auto;
    width: 75%;
    height: 100%;
}

.nav-item-container {
    width: 25%;
}

h3 {
    text-align: center;
    color: black;
    padding-bottom: 1.5rem;
}

h3 a:hover{
    border-bottom: 1px solid black;
    padding: 0;
}

.nav-item {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

.nav-item li {
    padding-bottom: 1rem;
}

.nav-item a:hover {
    padding: 0;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: #1f7ff4;
    cursor: pointer;
}

a:hover {
    padding-bottom: .8rem;
    border-bottom: 3px solid hsl(213, 91%, 44%);
}

@media (max-width: 800px){
    nav {
        display: none;
    }
}