.login-form {
    width: 30%;
    margin: 0 auto;
    padding: 3rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    padding-bottom: .5rem;
}

.form-control input.ng-invalid.ng-touched {
    border: 1px solid red;
}


.form-control label, 
.form-control input {
    padding: .25rem 0;
}

.form-control input,
.form-control textarea {
    outline: none;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 60%);
}

.form-control textarea {
    outline: none;
}

.form-control input:focus,
.form-control textarea:focus {
    border-color: hsl(213, 91%, 54%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn {
    border:none;
    border: 1px solid hsl(101, 78%, 40%);
    background-color: hsl(101, 78%, 40%);    
    color: white;
    width: 6rem;
    height: 100%;
    padding: .5rem 0;
    border-radius: 3px;
    cursor: pointer;
}

.btn[type=submit]:disabled {
    cursor: not-allowed;
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 80%);   
}


.btn:hover {
    border-color: black;
    background-color: hsl(101, 78%, 45%);    
}


@media (max-width: 800px) {
    .login-form {
        width: 80%;
        padding: 1rem;
    }
}
