footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.payment-methods {
    background-color: red;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    /* background: rgb(31,127,244); */
    background: linear-gradient(0deg, rgba(31,127,244,1) 25%, rgba(137,188,249,1) 100%, rgba(255,255,255,1) 100%);
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0 1.5rem;
    list-style: none;

}

li a {
    text-decoration: none;
    color: white;
}


li a:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
}

@media (max-width: 800px) {
    * {
        padding: 0;
        margin: 0;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }

    .container p {
        display: none;
    }

    .container ul {
        flex-direction: column;
        text-align: center;
    }

    .container ul li {
        padding: .5rem;

    }
}