.shop-item {
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: lightgreen; */
    justify-content: left;
    border-top: 1px solid hsl(0, 0%, 60%);
    padding-top: 1rem;
}

.item {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    height:100%;
}

.image-container {
    height: 10rem;
    width: 10rem;
}

.image-container img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.product-info {
    text-align: left;
}

.product-info > *:not(:last-child) {
    display: block;
    margin-bottom: .25rem;
} 

.edit-container {
    height:100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* background-color: lightyellow; */
    text-align: left;
    gap: .25rem;
}

.edit-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: lime; */
}

.flexbox {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items:center;
}

.flexbox a:hover {
    cursor:pointer;
}

.totalPrice {
    display: flex;
    align-items:center;

    text-align: center;
    padding-right: 1rem;
}

.btn {
    padding: .25rem .5rem;
    cursor: pointer;
}

.btn-delete {
    padding: .25rem 1rem;
}

